.App {
  text-align: center;
}

.App-header {
  background-color: #1abc9c;
  height: 150px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-intro {
  padding-top: 30px;
}
